.menu-btn {
    position: absolute;
    right: 30px;
    top: 35px;
    z-index: 3;
    @include easeOut;
    cursor: pointer;

    .btn-line {
        width: 28px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 5px;
        @include easeOut;
    }

    // Rotate menu btn
    &.close {
        transform: rotate(180deg);
        .btn-line {
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);           
            }
            // Line2 - Hide
            &:nth-child(2) {
                opacity: 0;           
            }
            // Line3 - Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);           
            }
        }
    }
}

//menu overlay
.menu {
    
    position: fixed;
    width: 100%;
    top: 0;
    opacity: 0.9;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    &-branding,
    &-nav {
        width: 50%;
        height: 100vh;
        display: flex;
        flex-flow: column wrap;
        float: left;
        justify-content: center;
        align-items: center;
        overflow: hidden;

    }
    
    //nav menu
    &-nav{
        margin: 0;
        padding: 0;
        list-style: none;
        background: darken($color: $primary-color, $amount: 5);
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    //branding menu
    &-branding{
        background: $primary-color;
        transform: translate3d(0, 100%, 0);
        @include easeOut;

        &.show{
            transform: translate3d(0 ,0, 0);
        }

        .portrait {
            width: 250px;
            height: 250px;
            background: url('../img/branding-img.jpg');
            border-radius: 50%;
            border: solid 3px $secondary-color;
            
        }
    }

    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;

        &.show{
            transform: translate3d(0, 0, 0);
        }

        &.current > a{
            color: $secondary-color;
        }
        
    }

    .nav-link {
        display: inline-block;
        font-size: 30px;
        padding: 1rem 0;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none;
        @include easeOut;

        &:hover{
            color: $secondary-color;
        }
    }

    //delay para cada uno de los items
    @for $x from 1 through 4 {
        .nav-item:nth-child(#{$x}){
            transition-delay: $x * 0.1s;
        }
    }

}
