@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background();
    background-color: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:1.5;
}

//Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;
    
    &.lg-heading {
        font-size: 6rem;
    }
    
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
    }
}

a{
    color: set-text-color($primary-color);
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    height: calc(100vh - 60px);
    
    
    
    .icons {
        margin-top: 1rem;
        
        
        a {
            padding: 0.4rem;
            
            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
    
    &#home {
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
    }
}

.about-info {
    display: grid;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
    
    
    .bio-image {
        margin: auto;
        grid-area: bioimage;
        border-radius: 50%;
        border: $secondary-color 3px solid;
        margin-bottom: 1rem;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job {
        background: lighten($color: $primary-color, $amount: 5);
        padding: 0.5rem;
        margin-right: 1rem;
        border-bottom: $secondary-color 3px solid;
    }
    
    .job-1{
        grid-area: job1;
    }
    
    .job-2{
        grid-area: job2;
    }
    
    .job-3{
        grid-area: job3;
    }
}

//Mis proyectos
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;

    img {
        width: 100%;
        border: 3px solid #fff;

        &:hover{
            opacity: .5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

.btn {
    display: block;
    padding: 0.5rem 1rem;
    font-weight: 600;
    margin-bottom: .3rem;
    width: 100%;
    border: 0;
    
    &:hover{
        background-color: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-light {
    @extend .btn;
    background-color: lighten($color: $primary-color, $amount: 50);
    color: #333;
}

.btn-dark{
    @extend .btn;
    background-color: darken($color: $primary-color, $amount: 50);
}

#main-footer{
    text-align: center;
    padding: 1rem;
    background: darken($color: $primary-color, $amount: 10);
    color: set-text;
    height: 60px;
}

@import 'mobile';